* {
    font-family: Arial,'Times New Roman', Times, serif;
    background: rgb(17 24 39);
    color: whitesmoke;
    text-align: center;
    /* border: solid; */
}

img,
iframe {
    height: 400px;
    width: auto;
}

p {
    text-wrap: balance;
}

ul,
ol {
    margin: auto;
    width: 50%;
}

li {
    font-size: large;
    text-align: left;
    padding-left: 5px;
}

button {
    font-size: 20px;
    background-color: rgb(145, 255, 145);
    color:black;
}

.display-nice {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.display-nice li {
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

a:link,
a:visited {
    color:#ffffff;
}

a:hover {
    color:#ffcc00;
}